/vendor/
/.env
/.phpunit.result.cache
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/.runtime/
/server.*.log
